/* shared style  */
* {
    margin: 0;
}

.btn-primanary {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #F15B22;
    border: 0;
    padding: 20px 25px;


}


.header {
    background-image: url('../images/banner/banner1.png');
    height: 800px;
    width: 100%;
    text-align: right;
}

.header-container {
    padding: 200px 220px 200px 840px;
}

.header-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 22px;
}

.header-discription {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;


}

.my-failure-section {

    width: 1130px;
    margin: auto;
    margin-top: 140px;
}

.my-failure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

.item-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.item-discription {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}